.idpass-page {
  background: #ffffff;
  color: #111111;
}

.idpass-page a {
  text-decoration: none;
  color: inherit;
}

.idpass-page .bgcolor_white {
  background-color: #ffffff;
}

.idpass-page .ag_center {
  text-align: center !important;
}

.idpass-page #isbwrapper {
  width: 100%;
}

.idpass-page #isbwrapper {
  position: relative;
  display: block;
  width: 100%;
  min-width: 320px;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.idpass-page #contentWrap {
  padding: 0 0 30px;
}

.idpass-page .layer_header {
  padding-top: 14px;
  border-bottom: 1px solid #dfdfdf;
  background: #ffffff;
  height: 56px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.idpass-page .layer_header .layer_title {
  position: relative;
  display: block;
  font-size: 20px;
  text-align: center;
}

.idpass-page .prow_01 {
  padding-left: 4.68%;
  padding-right: 4.68%;
}

.idpass-page #header,
.idpass-page #contentWrap,
.idpass-page #mainBanner,
.idpass-page #smart_search,
.idpass-page #compare,
.idpass-page #rtk,
.idpass-page .adbanner,
.idpass-page #counselBoard,
.idpass-page #recom_good,
.idpass-page #application,
.idpass-page #safeCounsel,
.idpass-page #brand,
.idpass-page #footer,
.idpass-page #s_cal,
.idpass-page #goodDe {
  position: relative;
  display: block;
}

.idpass-page #header {
  background: #ffffff;
}

.idpass-page .close {
  position: absolute;
  top: 18px;
  right: 4.68%;
  width: 20px;
  height: 20px;
  background: url(/icons/ico_btn_close_bl.png) no-repeat 50% 50%;
  background-size: contain;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
}

.idpass-page .tourGuard_bg {
  background-color: #ffffff;
}

.idpass-page .tourGuard_Topbg01 {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.idpass-page .tour2023_bottom_btn {
  left: 0;
  bottom: 0;
  color: #ffffff;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.idpass-page .tour2023_btn_b {
  position: relative;
  display: block;
  width: 100%;
}

.idpass-page .tour2023_ttap01 {
  width: 49.5%;
  color: #b8b9bb;
  border-radius: 100px;
  border: 1px solid #b8b9bb;
  background: #fff;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
  height: 50px;
  font-size: 16px;
  line-height: 25px;
  display: inline-block;
  letter-spacing: -0.8px;
  text-align: center;
  text-decoration: none;
}

.idpass-page .tour2023_ttap01_ov {
  width: 49.5%;
  color: #4d60d6;
  border-radius: 100px;
  border: 1px solid #4d60d6;
  background: #eef0fc;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
  height: 50px;
  font-size: 16px;
  line-height: 25px;
  display: inline-block;
  letter-spacing: -0.8px;
  text-align: center;
  text-decoration: none;
}

.idpass-page .tour2023_txt36 {
  font-size: 14px;
  color: #999999;
  text-align: left;
  line-height: 130%;
  letter-spacing: -0.8px;
  vertical-align: top;
  margin-left: 5px;
}

.idpass-page .tour2023_txt24 {
  font-size: 14px;
  color: #7e7e7e;
  text-align: center;
  line-height: 130%;
  letter-spacing: -0.8px;
  vertical-align: top;
}

.idpass-page .idpass-result-text {
  font-size: 18px;
  color: #3e3e3e;
  text-align: center;
  line-height: 130%;
  letter-spacing: -0.4px;
  margin: 40px 0 30px;
}

.idpass-page .idpass-result-id {
  color: #ff3b3b;
  font-weight: 700;
}

.idpass-page .tour2023_ra_Wrap {
  position: relative;
}

.idpass-page .tour2023_ra_Wrap01 {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.idpass-page .tour2023_rdo_area {
  margin-top: 5px;
  width: 100%;
  text-align: right;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
}

.idpass-page .tour2023_inp_rdo001 {
  position: relative;
  min-width: 49.6%;
  display: inline-block;
  min-height: 40px;
  overflow-wrap: normal;
  word-break: normal;
  vertical-align: top;
  box-sizing: border-box;
}

.idpass-page .tour2023_inp_rdo001 input {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: none;
  border-radius: 0px;
  appearance: none !important;
}

.idpass-page .tour2023_inp_rdo001 input + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 20px;
  width: 24px;
  height: 24px;
  background: url(/icons/icon_rdo.png) center center no-repeat;
  background-size: contain;
}

.idpass-page .tour2023_inp_rdo001 input:checked + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 20px;
  width: 24px;
  height: 24px;
  background: url(/icons/icon_rdo_ov.png) center center no-repeat;
  background-size: contain;
}

.idpass-page .tour2023_inp_rdo001 input + label {
  display: inline-block;
  height: 42px;
  line-height: 20px;
  font-size: 16px;
  color: #b8b9bb !important;
  padding: 11px 5px 0px 48px;
  vertical-align: top;
  letter-spacing: -0.8px;
  border-radius: 100px;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.idpass-page .tour2023_inp_rdo001 input:checked + label {
  color: #4d60d6 !important;
  border-radius: 100px;
  padding: 10px 5px 0px 48px;
  box-sizing: border-box;
}

.idpass-page .tourGuard_form_tt {
  position: relative;
  height: 65px;
  border: 1px solid #c3c6ce;
  border-radius: 15px;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.idpass-page .tourGuard_form_tt label {
  position: absolute;
  top: 6px;
  left: 20px;
  color: #9797a3;
  font-size: 12px;
  letter-spacing: -0.8px;
}

.idpass-page .tourGuard_form_tt input[type='text'],
.idpass-page .tourGuard_form_tt input[type='tel'],
.idpass-page .tourGuard_form_tt input[type='password'] {
  height: 32px;
  padding-left: 10px;
  border: 0;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0px;
  caret-color: #222222;
  display: inline-block;
  vertical-align: text-top;
  padding-top: 0px;
  margin-top: 23px;
  margin-left: 10px;
  background: transparent;
}

.idpass-page .tourGuard_form_tt input[type='text']::placeholder,
.idpass-page .tourGuard_form_tt input[type='tel']::placeholder,
.idpass-page .tourGuard_form_tt input[type='password']::placeholder {
  color: #dddddd;
  text-shadow: initial;
}

.idpass-page .tourGuard_form_tt input[type='text']:-ms-input-placeholder,
.idpass-page .tourGuard_form_tt input[type='tel']:-ms-input-placeholder,
.idpass-page .tourGuard_form_tt input[type='password']:-ms-input-placeholder {
  color: #dddddd;
  text-shadow: initial;
}

.idpass-page .tourGuard_input_w01 {
  width: 38%;
}

.idpass-page .tourGuard_input_w02 {
  width: 90%;
}

.idpass-page .tourG_rdo_area {
  font-size: 0px;
  width: 42%;
  margin-right: 0;
  vertical-align: middle;
  text-align: center;
  position: relative;
  display: inline-flex;
}

.idpass-page .tourG_inp_rdo {
  position: relative;
  width: 40%;
  display: inline-block;
  overflow-wrap: normal;
  word-break: normal;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  background: transparent;
}

.idpass-page .tourG_inp_rdo input {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: none;
  background: transparent;
}

.idpass-page .tourG_inp_rdo input + label {
  width: 100%;
  height: 32px;
  display: inline-block;
  text-align: left;
  font-size: 17px;
  vertical-align: middle;
  letter-spacing: -0.8px;
  color: #dddddd;
  box-sizing: border-box;
  margin: 22px 0 0 0;
}

.idpass-page .tourG_inp_rdo input:checked + label {
  color: #0000ff;
  font-weight: 500;
}

.idpass-page .tourGuard_input_w03 {
  width: 20%;
  margin-right: 10px;
}

.idpass-page .tour2023_event_file,
.idpass-page .tour2023_event_file01 {
  position: relative;
  padding: 13px 17px 0 0;
}

.idpass-page .tour2023_btn_b01 {
  position: relative;
  display: block;
}

.idpass-page .tour2023_btn11 {
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: -1px;
  width: 93px;
  height: 37px;
  background-color: #eef0fc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #4d60d6 !important;
  text-align: center;
  border: 1px solid #4d60d6;
  text-decoration: none;
}

.idpass-page .tour2023_btn18 {
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: -1px;
  width: 93px;
  height: 37px;
  background-color: #2c3fb3;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff !important;
  text-align: center;
  border: 1px solid #2c3fb3;
  text-decoration: none;
}

.idpass-page .tour2023_timer01 {
  position: relative;
  padding: 31px 10px 0 0;
}

.idpass-page .tour2023_timeLimit {
  color: #0000ff;
  font-size: 14px;
  letter-spacing: 0px;
}

.idpass-page .tourGuard_btn_b {
  position: relative;
  display: block;
  width: 100%;
}

.idpass-page .tour2023_btn01 {
  font-size: 21px;
  padding-top: 15px;
  height: 60px;
  background-color: #2c3fb3;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff !important;
  text-align: center;
}

.idpass-page .tourG_line:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 47px;
  height: 50px;
  top: -4px;
  left: 40%;
  margin: 0px 0 0px 0px;
  border-bottom: 1px solid #d5d7dd;
  vertical-align: middle;
  transform: rotate(297deg);
  z-index: 1;
}

.idpass-page .tourG_line03:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 1px;
  top: 38px;
  left: 21%;
  margin: 0px 0 0px 0px;
  border-bottom: 1px solid #bcbcbc;
  vertical-align: middle;
  transform: rotate(359deg);
  z-index: 1;
}

.idpass-page .tourG_line03:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 1px;
  top: 38px;
  left: 48%;
  margin: 0px 0 0px 0px;
  border-bottom: 1px solid #bcbcbc;
  vertical-align: middle;
  transform: rotate(359deg);
  z-index: 1;
}

.idpass-page .tourG_mat04 {
  margin-top: 20px !important;
}

.idpass-page .tourG_mat06 {
  margin-top: 15px !important;
}

.idpass-page .tourG_mat14 {
  margin-top: 50px !important;
}

.idpass-page .tourG_mab01 {
  margin-bottom: 25px;
}

.idpass-page .tourG_mab03 {
  margin-bottom: 10px !important;
}

.idpass-page .tourG_mab04 {
  margin-bottom: 15px !important;
}

.idpass-page .tourG_mab05 {
  margin-bottom: 20px;
}

.idpass-page .tourG_mab15 {
  margin-bottom: 40px;
}

.idpass-page .mag5 {
  margin-top: 5px;
}

.idpass-page .one_line0 {
  border-left: 0;
}

